@charset 'utf-8';

@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: local('Godo'), /* computer */
    url('../fonts/GodoM.woff') format('woff'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 700;
  src: local('Godo'), /* computer */
    url('../fonts/GodoB.woff') format('woff'); /* Safari, Android, iOS */
}